<%- include('includes/head') %>
<%- include('includes/nav') %>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8 my-3">
      <h1 class="text-center">Agenda</h1>
      <p class="text-center lead">Your contacts are below :)</p>

      <%- include('includes/messages') %>

      <% if(contacts.length > 0) { %>
      <div class="responsive-table">
        <table class="table my-3">
          <% contacts.forEach(contact => { %>
          <tr>
            <td><%= contact.name %></td>
            <td><%= contact.lastname %></td>
            <td><%= contact.email %></td>
            <td><%= contact.phone %></td>
            <td><a href="/contact/index/<%= contact._id %>">Edit</a></td>
            <td><a href="/contact/delete/<%= contact._id %>" class="text-danger">Delete</a></td>
          </tr>
          <% }); %>
        </table>
      </div>
      <% } else { %>
        <p class="text-center lead">There are no registered contacts.</p>
      <% } %>

    </div>
    
    <div class="col-lg-2"></div>
  </div>
</div>


<%- include('includes/footer') %>