<%- include('includes/head'); %>
<%- include('includes/nav'); %>

<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>

        <div class="col-lg-8" my-3>
            <br><h1 class="text-center">Welcome <%= user.email %></h1>
            <p class="text-center lead">You need to logout to create another account</p><br>

            <%- include('includes/messages'); %>

   

        </div>
       <div class="col-lg-2"></div>
    </div>
</div>

<%- include('includes/footer'); %>