<%- include('includes/head'); %>
<%- include('includes/nav'); %>

<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>

        <div class="col-lg-8" my-3>
            <br><h1 class="text-center">Agenda</h1>
            <p class="text-center lead">Create your account or login</p><br>

            <%- include('includes/messages'); %>

            <div class="row">

                <div class="col-lg">
                    <h4>User logado</h4>
                    <i><p>if you don't have an account, fill in the fields below</p></i><br>

                <!--FORM REGISTER-->
                <form class="form-register" action="/login/register" method="POST">
                    <input type="hidden" name="_csrf" value=<%= csrfToken %>>

                    <div class="form-group">
                      <label>E-mail address</label>
                      <input type="email" name="email" class="form-control">
                    </div>

                    <div class="form-group">
                      <label>Password</label>
                      <input type="password" name="password" class="form-control">
                    </div><br>

                    <button type="submit" class="btn btn-primary">Create my account</button>
                  </form>
                </div>


                <div class="col-lg">
                    <h4>Login</h4>
                    <i><p>login with your account</p></i><br>

               <!--FORM LOGIN-->

               <form class="form-login" action="/login/login" method="POST">
                <input type="hidden" name="_csrf" value=<%= csrfToken %>>

                <div class="form-group">
                  <label>E-mail address</label>
                  <input type="email" name="email" class="form-control">
                </div>

                <div class="form-group">
                  <label>Password</label>
                  <input type="password" name="password" class="form-control">
                </div><br>

                <button type="submit" class="btn btn-primary">Login</button>
              </form>     
            </div>

                
            </div>

        </div>
        <div class="col-lg-2"></div>
    </div>
</div>

<%- include('includes/footer'); %>